div {
    display:grid;
    grid-template-columns: 100px 100px 100px 100px;
    
    
}
nav {
    background-color:#F5C6D6;
    
}

footer {
    background-color:#ee2e84;
   
}
 Main {
     background-color:#8DC63F;
    
 }
header {
    Background-color:#E76E34;
    grid-column: 1 / 5;
    
}


 
 