html, body {
    background-color: lightgoldenrodyellow
}
.title {
font-family: Georgia, 'Times New Roman', Times, serif;
background-color:lightgray;
font-size:55px;
}
h4 {
    border:2px solid black;
}

li {
    font-style: italic;
    font-size: 25px;
}
img {
    padding-left:25px;
}
a {
    font-size:20px;
}
p {
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}