html, body {
    background-color: lightgoldenrodyellow
}

h4 {
    border:2px solid black;
}

li {
    font-style: italic;
    font-size: 25px;
}
img {
    padding-left:25px;
}
a {
    font-size:20px;
}
p {
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}